<!-- -------------- NAVIGATOR ------------------- -->
<div class="sidebar close">

    <div class="logo-details">
        <a href="/">
            <img src="/IMG/aurum-logo.png" alt="">
        </a>
        <span class="logo_name">Cateura Company</span>
    </div>

    <ul class="nav-links">

        <!-- Dashboard ICON -->
        <li>
            <a href="/scada">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Scada</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/scada">Scada</a></li>
            </ul>
        </li>
        <li>

            <!-- DataBase ICON -->
            <div class="iocn-link">
                <a href="/database">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Database</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>

            <ul class="sub-menu">
                <li><a class="link_name" href="/database">Database</a></li>
                <li><a href="#">MySQL</a></li>
                <li><a href="#">SQLite</a></li>
                <li><a href="#">Other</a></li>
            </ul>

        </li>

        <!-- Settings ICON  -->
        <li>
            <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
            </ul>
        </li>
        
        
        <li>

            <div class="profile-details">
            <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
                <div class="profile_name">Prem Shahi</div>
                <div class="job">Web Desginer</div>
            </div>
            <i class='bx bx-log-out' ></i>
            </div>
        </li>
    </ul>
</div>