<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1">
        <title>Vase Admin Dashboard</title>
    
        <!-- Librería de estilos que he cogido -->
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <!-- Donde cojo los estilos defindos en un fichero .CSS  -->
        <link rel="stylesheet" type="text/css" href="/styles/style.css">


        <!-- Librería pra movimiento entre páginas -->
        <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
        <script type="text/javascript" src="/js/script.js"></script>

        <!-- Librerías de iconos -->
        <!-- Boxiocns CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    

    <body>

        <!-- Navigator -->
        <%- include('partials/navigator') %>


        <section class="home-section">
            <div class="home-content">
              <i class='bx bx-menu' ></i>
              <span class="text"><h1>Home</h1></span>
            </div>



        </section>

          <!-- Movimiento del navegador -->
        <script>
          let arrow = document.querySelectorAll(".arrow");

          for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
           let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
           arrowParent.classList.toggle("showMenu");
            });
          }

          let sidebar = document.querySelector(".sidebar");
          let sidebarBtn = document.querySelector(".bx-menu");

          console.log(sidebarBtn);
          sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");

          });
        </script>

      



        
    </body>



  
</html>