<!DOCTYPE html>

<!-- Selccionamos el idioma deseado -->
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1">
        <title>Vase Admin Dashboard</title>

        <!-- Librería de estilos que he cogido -->
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <!-- Donde cojo los estilos defindos en un fichero .CSS  -->
        <link rel="stylesheet" type="text/css" href="/styles/style.css">

        <!-- Librería pra movimiento entre páginas -->
        <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 

        <!-- fichero de funciones JS -->
        <script type="text/javascript" src="/JS/script.js"></script>

        <!-- LIBRERÍA DE GRÁFICOS -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="/js/jquery.easypiechart.js"></script> 

        <!-- Librerías de iconos -->
        <!-- Boxiocns CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- FUENTE DE LOS ICONOS -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <!-- Librería de gráficas línea sin redondeo -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script> -->

        <!-- Librería de gráficas línea con redondeo -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>        

    </head>

    <body>
 
        <!-- Navigator -->
        <%- include('partials/navigator') %>


        <section class="home-section">
            <div class="home-content">
              <i class='bx bx-menu' ></i>
              <span class="text"><h1>SCADA</h1></span>
            </div>
<!-- 
            <div class= "header-action">
                <button class= "btn"><span></span>Upload</button>
            </div> -->

            <main>


                <!-- Gráfico 1, sección  ------------- DESCRIPCIÓN PROCESO ------------  -->
                <section>
                    <div class="graph-card">
                        
                        <div class="graph-content">

                            <img src="/IMG/scada.png" alt="">


                            <div class='toggle' id='switch'>
                                <div class='toggle-text-off'>OFF</div>
                                <div class='glow-comp'></div>
                                <div class='toggle-button'></div>
                                <div class='toggle-text-on'>ON</div>
                            </div>
                          
                              
                              
                            
                        </div>
                    </div>


                </section>

            </main>


        </section>



        <!-- Movimiento del navegador -->
        <script>
          let arrow = document.querySelectorAll(".arrow");

          for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
           let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
           arrowParent.classList.toggle("showMenu");
            });
          }

          let sidebar = document.querySelector(".sidebar");
          let sidebarBtn = document.querySelector(".bx-menu");

          console.log(sidebarBtn);
          sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");

          });

        </script>

        <!-- efecto botón -->
        <script>
            
            $('.toggle').click(function(e){
                e.preventDefault(); // The flicker is a codepen thing
                $(this).toggleClass('toggle-on');
            });
            
        </script>








        
    </body>


</html>