:root {

    /* --color-main: #396aff; */
    --color-main: rgba(0,176,80,0.5); 
    --bg: #fdfeed;
    /* --bg2: #dce5ff; */
    --bg2: #69FFAD;
    --main-accent: #e9eefd;
    /* --main-text: #4b5876; */
    --main-text: #ffffff;
    --shadow: rgba(17,17,26,0.1) 2px 2px 16px;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-content{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(100-TS.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 360px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    display: block;
	max-width: 400px;
	background-image: linear-gradient(to bottom, rgba(0,188,126,0.65), rgba(16,135,117,0.65));
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

.button-box{
    width: 211px;
    margin: 20px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #7cff241f; */
    border-radius: 30px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #5cff10, rgba(0,176,80,0.5));
    border-radius: 30px;
    transition: 0.5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

/* Entrada de texto */
.input-field{

    appearance: none;
	background: none;
	outline: none;
	border: none;

    display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
    margin-top: 10px;
}

.input-field::placeholder{
    color: #CCC;
}

.input-field:focus, .input-field:valid{
    background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.submit-btn{
    width: 85%;
    font-size: 100%;
    font-weight: 600;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #5cff10, rgba(0,176,80,0.5));
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 15px;
}

.check-box{
    margin: 30px 10px;
}

span{
    color: rgb(0, 0, 0);
    font-size: 15px;
    bottom: 70px;
    margin-bottom: 10px;
    position: absolute;
}

#Login{
    left: 50px;
}

#Register{
    left: 50px;
}


.logo-details img{

    height: 90px;
    width: 90px;
    margin: auto;
    cursor: pointer;
    display: grid;
     
}


.button-box .submit-btn form::after{
    width: 85%;
    font-size: 100%;
    font-weight: 600;
    padding: 10px 80px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #2e531c, rgba(0, 255, 221, 0.5));
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 15px;
}